::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 input[type=text] { 
   text-align: center; 
}
input[type=date] { 
    text-align: center; 
    padding-left: 20%;
}

.no-focus-outline:focus {
   box-shadow: none;
}

/* .labels {
    text-align: right; 
    vertical-align: middle;
} */

